<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HealthMonitoringSystem.WinApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDepartmentSol"/>
        <binding name="BasicHttpBinding_IDegreeSol"/>
        <binding name="BasicHttpBinding_ICitySol"/>
        <binding name="BasicHttpBinding_ICountrySol"/>
        <binding name="BasicHttpBinding_IMedicamentSol"/>
        <binding name="BasicHttpBinding_IDiagnosisSol"/>
        <binding name="BasicHttpBinding_IBloodGroupSol"/>
        <binding name="BasicHttpBinding_IDoctorMailSol"/>
        <binding name="BasicHttpBinding_IDoctorSol"/>
        <binding name="BasicHttpBinding_IDoctorPhoneSol"/>
        <binding name="BasicHttpBinding_IExaminationSol"/>
        <binding name="BasicHttpBinding_IRendezvousSol"/>
        <binding name="BasicHttpBinding_ILaboratoryRequestItemSol"/>
        <binding name="BasicHttpBinding_IMessageSol"/>
        <binding name="BasicHttpBinding_ILaboratoryRequestSol"/>
        <binding name="BasicHttpBinding_ILaboratoryRequestTypeSol"/>
        <binding name="BasicHttpBinding_IPrescriptionSol"/>
        <binding name="BasicHttpBinding_IPatientSol"/>
        <binding name="BasicHttpBinding_IRendezvousTimeSol"/>
        <binding name="BasicHttpBinding_ISystemSol"/>
        <binding name="BasicHttpBinding_IPrescriptionItemSol"/>
        <binding name="BasicHttpBinding_IHolidaySol"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:81/DegreeService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDegreeSol" contract="DegreeService.IDegreeSol" name="BasicHttpBinding_IDegreeSol"/>
      <endpoint address="http://localhost:81/MedicamentService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMedicamentSol" contract="MedicamentService.IMedicamentSol" name="BasicHttpBinding_IMedicamentSol"/>
      <endpoint address="http://localhost:81/BloodGroupService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBloodGroupSol" contract="BloodGroupService.IBloodGroupSol" name="BasicHttpBinding_IBloodGroupSol"/>
      <endpoint address="http://localhost:81/DoctorMailService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDoctorMailSol" contract="DoctorMailService.IDoctorMailSol" name="BasicHttpBinding_IDoctorMailSol"/>
      <endpoint address="http://localhost:81/DoctorPhoneService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDoctorPhoneSol" contract="DoctorPhoneService.IDoctorPhoneSol" name="BasicHttpBinding_IDoctorPhoneSol"/>
      <endpoint address="http://localhost:81/CountryService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICountrySol" contract="CounrtyService.ICountrySol" name="BasicHttpBinding_ICountrySol"/>
      <endpoint address="http://localhost:81/LaboratoryRequestItemService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILaboratoryRequestItemSol" contract="LaboratoryRequestItemService.ILaboratoryRequestItemSol" name="BasicHttpBinding_ILaboratoryRequestItemSol"/>
      <endpoint address="http://localhost:81/MessageService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMessageSol" contract="MessageService.IMessageSol" name="BasicHttpBinding_IMessageSol"/>
      <endpoint address="http://localhost:81/CityService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICitySol" contract="CityService.ICitySol" name="BasicHttpBinding_ICitySol"/>
      <endpoint address="http://localhost:81/DiagnosisService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDiagnosisSol" contract="DiagnosisService.IDiagnosisSol" name="BasicHttpBinding_IDiagnosisSol"/>
      <endpoint address="http://localhost:81/LaboratoryRequestTypeService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILaboratoryRequestTypeSol" contract="LaboratoryRequestTypeService.ILaboratoryRequestTypeSol" name="BasicHttpBinding_ILaboratoryRequestTypeSol"/>
      <endpoint address="http://localhost:81/DepartmentService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDepartmentSol" contract="DepartmentService.IDepartmentSol" name="BasicHttpBinding_IDepartmentSol"/>
      <endpoint address="http://localhost:81/LaboratoryRequest.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILaboratoryRequestSol" contract="LaboratoryRequestService.ILaboratoryRequestSol" name="BasicHttpBinding_ILaboratoryRequestSol"/>
      <endpoint address="http://localhost:81/PrescriptionService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPrescriptionSol" contract="PrescriptionService.IPrescriptionSol" name="BasicHttpBinding_IPrescriptionSol"/>
      <endpoint address="http://localhost:81/PatientService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPatientSol" contract="PatientService.IPatientSol" name="BasicHttpBinding_IPatientSol"/>
      <endpoint address="http://localhost:81/RendezvousTimeService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRendezvousTimeSol" contract="RendezvousTimeService.IRendezvousTimeSol" name="BasicHttpBinding_IRendezvousTimeSol"/>
      <endpoint address="http://localhost:81/SystemService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISystemSol" contract="SystemService.ISystemSol" name="BasicHttpBinding_ISystemSol"/>
      <endpoint address="http://localhost:81/DoctorService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDoctorSol" contract="DoctorService.IDoctorSol" name="BasicHttpBinding_IDoctorSol"/>
      <endpoint address="http://localhost:81/ExaminationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExaminationSol" contract="ExaminationService.IExaminationSol" name="BasicHttpBinding_IExaminationSol"/>
      <endpoint address="http://localhost:81/PrescriptionItemService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPrescriptionItemSol" contract="PrescriptionItemService.IPrescriptionItemSol" name="BasicHttpBinding_IPrescriptionItemSol"/>
      <endpoint address="http://localhost:6868/RendezvousService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRendezvousSol" contract="RendezvousService.IRendezvousSol" name="BasicHttpBinding_IRendezvousSol"/>
      <endpoint address="http://localhost:6868/HolidayService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHolidaySol" contract="HolidayService.IHolidaySol" name="BasicHttpBinding_IHolidaySol"/>
    </client>
  </system.serviceModel>
  <userSettings>
    <HealthMonitoringSystem.WinApp.Properties.Settings>
      <setting name="Thema" serializeAs="String">
        <value>Visual Studio 2013 Blue</value>
      </setting>
      <setting name="ServiceRoot" serializeAs="String">
        <value>http://SAFER:81</value>
      </setting>
    </HealthMonitoringSystem.WinApp.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
