<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>192.168.5.128</MSDeployServiceURL>
    <DeployIisAppPath>Health</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>sait.local\Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MsSqlHealthContext" Order="1" Enabled="False">
          <Destination Path="Data Source=127.0.0.1;Initial Catalog=HealthSystem;Persist Security Info=True;User ID=sa;Password=Sa1t0rhan" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="HealthMonitoringSystem.DAL.Content.MsSqlContent.MsSqlHealthContext, HealthMonitoringSystem.DAL" MigrationConfiguration="HealthMonitoringSystem.DAL.Migrations.MsSqlConfiguration, HealthMonitoringSystem.DAL" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MySqlHealthContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="HealthMonitoringSystem.DAL.Content.MySqlContent.MySqlHealthContext, HealthMonitoringSystem.DAL" MigrationConfiguration="HealthMonitoringSystem.DAL.Migrations.MySqlConfiguration, HealthMonitoringSystem.DAL" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MsSqlHealthContext-Web.config Connection String">
      <ParameterValue>Data Source=127.0.0.1;Initial Catalog=HealthSystem;Persist Security Info=True;User ID=sa;Password=Sa1t0rhan</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MySqlHealthContext-Web.config Connection String" />
  </ItemGroup>
</Project>